body {
  font-family: sans-serif;
  color: teal;
}

#nav{
  background-color: rgb(162, 205, 183);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav h1 {
  margin: 25px;
}

#nav a:hover{
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: teal;
}

button {
  background-color: teal;
  color: white;
  border-radius: 10px;
}

.submit-button {
  background-color: teal;
  color: white;
  border-radius: 10px;
}

select {
  border-radius: 10px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.indiv-product {
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(162, 205, 183);
}

.all-users {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.users {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.item-in-cart{
  margin: 20px;
}

.quantity-tracker{
  color: white;
  font-size: 7px;
}

.purchase-price {
  margin: 5px;
}

img {
  border-radius: 25px;
}

.wrap-description {
  max-width: 350px;
}

button a {
  color: white;
}

.product-detail {
  margin-top: 25px;
}

.purchase-price-guest {
  margin: 2px;
  padding: 2px;
}

p a {
  text-decoration: underline;
}
